@font-face {
    font-family: 'Pricedown';
    src: url('Pricedown Bl.otf');
}

.fundoRockstar {
    background-image: url('GTA.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.intro-card {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px;
    border-radius: 20px;
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
    backdrop-filter: blur(5px);
    color: white;
}

.titulo {
    font-family: 'Pricedown', sans-serif;
    text-shadow: 4px 4px 1px #000000;
}