.fundoPortfolio{
    background-image: url('CarbonFiber.avif');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.portfolio-grid {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Cria colunas automáticas */
    gap: 20px; /* Espaçamento entre os itens da grade */
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.7); /* Camada para destacar as imagens */
    border-radius: 15px;
    margin-top: 20px;
}

.item {
    border: 2px solid #00adef; /* Borda azul tecnológica */
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s;
}

.item:hover {
    transform: scale(1.05);
}

.item img {
    width: 100%;
    height: auto;
    display: block;
}