@font-face {
    font-family: 'Pricedown';
    src: url('Pricedown Bl.otf');
}

.fundo-mapa {
    background-image: url('mapa.webp');
    background-size: cover;
    background-attachment: fixed;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.container-mapa {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 40px;
    border-radius: 10px;
    border-top: 4px solid #f1c40f;
    width: 600px;
}

h1 {
    font-family: 'Pricedown', sans-serif;
    color: #f1c40f;
    text-align: center;
    margin-bottom: 30px;
}

.lista-principal {
    list-style: none;
    padding: 0;
}

ul ul li {
    text-indent: 30px; 
    margin-top: 10px;
    color: #00adef;
    border-left: 2px solid #333;
}

.lista-principal > li {
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 20px;
    color: #f1c40f;
}