.fundo-blog {
    background-image: url('fundo.avif');
    background-repeat: no-repeat;
    background-size: cover;
}

.lista-postagens {
    list-style: square;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    color: white;
}

.lista-postagens li {
    margin-bottom: 30px;
    border-bottom: 1px solid #444;
    padding-bottom: 15px;
}

h2 {
    color: #f1c40f;
    /* Amarelo Rockstar */
    margin-top: 0;
}

.data {
    font-size: 0.8rem;
    color: #bbb;
}

a {
    color: #00adef;
    text-decoration: none;
    font-weight: bold;
}